#user-edit-body {
		color: white;
		background-color: #0CB3FB;
		padding-top: 10px;
	}

	#edit-header {
	border-bottom: grey 0.5px solid;
	width: 100%;
	height: 80px;
	z-index: -1;
	min-width: 1150px;
	margin: 0;
	padding: 0;
	background-color: #2F3233;
	border-radius: 5px;
	top: 0;
}

#site-logo {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 3em;
	float: left;
	width: 400px;
	margin: 10px 20px 20px 30px;
	text-shadow: 1px 1px #0CB3FB,
							 2px 2px #0CB3FB,
							 3px 3px #0CB3FB,
							 4px 4px #0CB3FB;
	color: white;
	text-decoration: none;
}

#user-name-head {
	padding: 0;
	margin: 0;
}

ul {
	float: right;
	margin-top: 45px;
}

li {
	display: inline;
	z-index: 1;
	padding-right: 30px;
	font-weight: 500;
}


li a {
	text-decoration: none;
	color: white;
	font-size: .82em;
}

li a:hover {
	color: #0CB3FB;
}

	#user-edit-wrapper {
		width: 600px;
		margin: 0 auto;
		margin-top: 80px;
		/*border: 1px white dashed;*/
	}

	.edit-head {
		line-height: 1;
		font-weight: bold;
		font-size: 40px;
		padding: 0;
		margin: 0;
	}

	#edit-instructions {
		margin-bottom: 35px;
		font-size: 25px;
	}

	#edit-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.input-box {
		color: white;
		font-size: 17px;
		width: 100%;
		border: none;
		background: none;
		border-bottom: 1px solid white;
		border-radius: 0;
		outline: none;
		margin-bottom: 30px;
	}

	.input-box::-webkit-input-placeholder {
		color: #E9E9E9;
		font-size: 17px;
	}

	.edit-submitter {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: 15px;
		border: none;
		background-color: #515152;
		width: 155px;
		border-radius: 7px;
		padding: 10px;
		color: white;
		margin-top: 30px;
	}











/*iPhone 5 - Horizontal*/
@media all and (min-width: 567px) and (max-width: 569px) {

	#user-edit-body {
		color: white;
		background-color: #0CB3FB;
		padding-top: 10px;
	}

	#user-edit-wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.edit-head {
		line-height: 1;
		font-weight: bold;
		font-size: 20px;
		padding: 0;
		margin: 0;
	}

	#edit-instructions {
		font-size: 12px;
		margin-bottom: 10px;
	}

	#edit-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.input-box {
		color: white;
		font-size: 10px;
		width: 100%;
		border: none;
		background: none;
		border-bottom: 1px solid white;
		border-radius: 0;
		outline: none;
		margin-bottom: 12px;
	}

	.input-box::-webkit-input-placeholder {
		color: #E9E9E9;
		font-size: 10px;
	}

	.edit-submitter {
		font-size: 10px;
		border: none;
		background-color: #515152;
		width: 110px;
		border-radius: 7px;
		padding: 8px;
		color: white;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

}





/*iPhone 5 - Vertical*/
@media all and (min-width: 319px) and (max-width: 321px) {

	#user-edit-body {
		color: white;
		background-color: #0CB3FB;
		padding-top: 10px;
	}

	#user-edit-wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.edit-head {
		line-height: 1;
		font-weight: bold;
		font-size: 22px;
		padding: 0;
		margin: 0;
	}

	#edit-instructions {
		font-size: 14px;
		margin-bottom: 20px;
	}

	#edit-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.input-box {
		color: white;
		font-size: 13px;
		width: 100%;
		border: none;
		background: none;
		border-bottom: 1px solid white;
		border-radius: 0;
		outline: none;
		margin-bottom: 30px;
	}

	.input-box::-webkit-input-placeholder {
		color: #E9E9E9;
		font-size: 13px;
	}

	.edit-submitter {
		font-size: 13px;
		border: none;
		background-color: #515152;
		width: 150px;
		border-radius: 7px;
		padding: 10px;
		color: white;
		margin-left: 23%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

}





/*iPhone 6 - Horizontal*/
@media all and (min-width: 665px) and (max-width: 668px) {

	#user-edit-body {
		color: white;
		background-color: #0CB3FB;
		padding-top: 10px;
	}

	#user-edit-wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.edit-head {
		line-height: 1;
		font-weight: bold;
		font-size: 20px;
		padding: 0;
		margin: 0;
	}

	#edit-instructions {
		font-size: 12px;
		margin-bottom: 10px;
	}

	#edit-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.input-box {
		color: white;
		font-size: 12px;
		width: 100%;
		border: none;
		background: none;
		border-bottom: 1px solid white;
		border-radius: 0;
		outline: none;
		margin-bottom: 20px;
	}

	.input-box::-webkit-input-placeholder {
		color: #E9E9E9;
		font-size: 12px;
	}

	.edit-submitter {
		font-size: 12px;
		border: none;
		background-color: #515152;
		width: 140px;
		border-radius: 7px;
		padding: 10px;
		color: white;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

}





/*iPhone 6 - Vertical*/
@media all and (min-width: 374px) and (max-width: 376px) {

	#user-edit-body {
		color: white;
		background-color: #0CB3FB;
		padding-top: 10px;
	}

	#user-edit-wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.edit-head {
		line-height: 1;
		font-weight: bold;
		font-size: 25px;
		padding: 0;
		margin: 0;
	}

	#edit-instructions {
		font-size: 16px;
		margin-bottom: 25px;
	}

	#edit-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.input-box {
		color: white;
		font-size: 16px;
		width: 100%;
		border: none;
		background: none;
		border-bottom: 1px solid white;
		border-radius: 0;
		outline: none;
		margin-bottom: 35px;
	}

	.input-box::-webkit-input-placeholder {
		color: #E9E9E9;
		font-size: 16px;
	}

	.edit-submitter {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: 16px;
		border: none;
		background-color: #515152;
		width: 180px;
		border-radius: 7px;
		padding: 15px;
		color: white;
		margin-left: 23%;
	}

}





/*iPhone 6 Plus - Horizontal*/
@media all and (min-width: 735px) and (max-width: 737px) {

	#user-edit-body {
		color: white;
		background-color: #0CB3FB;
		padding-top: 10px;
	}

	#user-edit-wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.edit-head {
		line-height: 1;
		font-weight: bold;
		font-size: 25px;
		padding: 0;
		margin: 0;
	}

	#edit-instructions {
		margin-bottom: 20px;
	}

	#edit-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.input-box {
		color: white;
		font-size: 13px;
		width: 100%;
		border: none;
		background: none;
		border-bottom: 1px solid white;
		border-radius: 0;
		outline: none;
		margin-bottom: 20px;
	}

	.input-box::-webkit-input-placeholder {
		color: #E9E9E9;
		font-size: 13px;
	}

	.edit-submitter {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: 15px;
		border: none;
		background-color: #515152;
		width: 155px;
		border-radius: 7px;
		padding: 10px;
		color: white;
	}

}





/*iPhone 6 Plus - Vertical*/
@media all and (min-width: 413px) and (max-width: 415px) {

	#user-edit-body {
		color: white;
		background-color: #0CB3FB;
		padding-top: 20px;
	}

	#user-edit-wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.edit-head {
		line-height: 1;
		font-weight: bold;
		font-size: 28px;
		padding: 0;
		margin: 0;
		/*padding: 10px 0px 5px 7px;*/
	}

	#edit-list {
		list-style: none;
		margin: 0;
		padding: 0;
		/*padding-left: 12px;*/
	}

	.input-box {
		color: white;
		font-size: 15px;
		width: 100%;
		border: none;
		background: none;
		border-bottom: 1px solid white;
		border-radius: 0;
		outline: none;
		margin-bottom: 35px;
	}

	.input-box::-webkit-input-placeholder {
		color: #E9E9E9;
		font-size: 15px;
	}

	.edit-submitter {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-size: 15px;
		border: none;
		background-color: #515152;
		width: 170px;
		margin-left: 27%;
		margin-top: 5px;
		border-radius: 7px;
		padding: 13px;
		color: white;
	}

}