#user-bar {
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: grey 0.5px solid;
	display: inline-block;
	text-align: center;
	/*background: white;*/
}

#question-wrapper {
	padding-top: 40px;
	width: 65%;
	margin: 0 auto;
}

#question-box-head {
	font-size: 27px;
	font-weight: 700;
}

.question-box {
	resize: none;
	border: none;
	width: 84%;
	height: 50px;
	border-radius: 8px 0px 0px 8px;
	padding: 5px;
	font-size: 15px;
	float: left;
	outline: none;
}

.question-submitter {
	height: 60px;
	width: 14%;
	background: #00BA8E;
	text-align: center;
	padding: 0;
	margin: 0;
	float: left;
	color: white;
	border-radius: 0px 8px 8px 0px;
	border: 2px solid white;
	font-size: 15px;
	font-weight: 500;
	outline: none;
}

.question-submitter:hover {
	background: #00936C;
}

#profile-pic {
	float: left;
	width: 12%;
	border-radius: 100%;
	border: 2px grey solid;
	margin: 20px 0px 30px 100px;
}

#user-info {
	overflow: auto;
	float: left;
	margin-left: 2%;
	width: 15%;
	text-align: left;
}

#user-name-head {
	font-weight: 100;
	font-size: 2.5em;
	padding-top: 25px;
}

#user-location {
	top: 130px;
	font-weight: 500 ;
}

#user-twitter-handle {
	color: white;
	text-decoration: none;
}

#user-twitter-handle:hover {
	color: yellow;
}

#map {
	border: 2px solid grey;
	border-radius: 7px;
  /*width: 600px;*/
  width: 50%;
  height: 150px;
  float: left;
  /*margin-right: 150px;*/
  margin-top: 1.5%;
}

#previous-questions-wrapper {
	margin-top: 100px;
}

.question-boxes {
	width: 99.8%;
	/*background: white;*/
	/*border: #00936C .5px solid;*/
	padding: 2% 2% 5% 2%;
	border-top: 1px grey solid;
}

.previous-questions {
	font-weight: 100;
	font-size: 1.5em;
	text-decoration: none;
	color: white;
	/*color: #02C3BD;*/
	/*padding: 10px;*/
}

.a-question {
	text-decoration: none;
	color: white;
	/*padding: 10px;*/
}

.a-question:hover {
	color: #02C3BD;
}

.date-time {
	font-size: 15px;
	padding: 0;
}


