#user-edit-body {
	color: white;
	background-color: #F75A9E;
	text-align: center;
}

#edit-head {
	line-height: 1;
	font-weight: bold;
	font-size: 30px;
	padding: 0;
	margin: 0;
}


.input-box {
	width: 200px;
	border: none;
	background: none;
	border-bottom: 1px solid white;
	outline: none;
	margin-top: 20px,;
}